/* ABOUT Start */

#about-return {

  background-color: #000065;
  padding-bottom: 40px;
  
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about-article-containerA {
  display: flex;
  justify-content: center;
}

#about-article-flexbox {
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  border: 5px solid yellow;
  background-image: url("https://i.imgur.com/xZnBqaC.png");
  background-repeat: no-repeat;
  border-radius: 3%;
  height: 725px;
  width: 600px;
}

@media (max-width: 700px) {
  #about-article-flexbox {
    height: 500px;
    width: 450px;
    border: 5px solid blue;
  }

  #about-text {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

@media (max-width: 805px) {
  #about-article-flexbox {
    height: 605px;
    width: 500px;
    border: 5px solid red;
  }

  /* #about-article-flexbox article {
    width: 100%;
  } */
}

#about-article-flexbox article {
  width: 500px;
  margin-top: 45px;
  font-size: 25px;

  /* border: 5px solid white; */
}

/* ABOUT End */

