
.who-return{
    display:flex;
    
}

.who-img-container{
    display:flex;
    align-content:center;
    background-color:#67c5e1;
    width:70vw;
    height:80rem;
}

.who-img{
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 1;
    padding:30px;
}



