
.who-return{
    height: 100vh;
}

.who-img-container{
    position: relative;
}

.who-img--background {
    position:absolute;
    width: 100%;
}

.who-img{
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 1;
    padding:30px;
    width: 40%;
    position: absolute;
    left: 27.5%;
    top: 90%;
    transform: translate(-50%, 5%)
}



