@import url('https://fonts.cdnfonts.com/css/swagger');
@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
  color: #fff;
  background-color: #1e1e1e;
}

body {
  padding: 20px;
}

.header-main {
  text-align: center;
  /* border: 5px solid red; */
  background-image: linear-gradient(
    to right bottom,
    rgba(57,107,186, 0.8),
    rgba(225,224,49, 0.8),
    rgba(57,107,186, 0.8)),
    url("https://i.imgur.com/Ohd8QYI.png");
  margin-bottom: 10px;
  padding: 10px 0px;
}

header {
  text-align: center;
}

/* FOOTER Start */

footer {
  text-align: center;
  margin-top: 20px;
}

.tech-lang {
  font-family: 'Source Sans Pro', sans-serif;
}

#ian-font {
  font-family: 'Share Tech Mono', monospace;
}

#drew-font {
  font-family: 'Berkshire Swash', cursive;
}

/* FOOTER End */

/* NavBar Start */
/* navbar animations in Picker section */

#nav-return {
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
}

#nav-main {
  width: 600px;
  /* border: 3px solid white; */
  text-align: center;
}

nav a {
  text-decoration: none;
}

.nav-title {
  font-family: 'Swagger', sans-serif;
  /* padding: 0px 10px; */
  /* border: 3px solid blue; */
  margin: 0px 22px;
}

/* Navbar End */

/* Page Headers Start */

h2{
  display: flex;
  flex-wrap: center;
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
}

.header-page {
  font-size: 80px;
  -webkit-text-stroke: 1px rgb(57, 107, 186);
  -webkit-text-fill-color: rgb(255, 224, 49);
  font-family: 'Faster One', cursive;
  justify-content: center;
  animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: -100px;
  }

  80% {
    transform: 10px
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Page Headers End */

/* PICKER Start */

#left-and-right-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#poke-button-left, #poke-button-right {
  border: 10px solid blue;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/2b/3b/04/2b3b04771ccca26c3dd96d781b0117ca.jpg");
  background: cover; 
  position: relative;
  margin-top: 110px;
  cursor: pointer;
}

#poke-button-right {
  border: 10px solid red;
  /* see styles above */
}

.btn-info-box {
  background-color: white;
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 228px;
  border-radius: 100px;
  box-sizing: border-box;
}

.btn-info-box-left {
  border: 5px solid blue;
  color: darkblue;
}

.btn-info-box-right {
  border: 5px solid red;
  color: darkred;
}

.btn-name {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 5px;
}

.btn-id {
  display: inline-block;
}

.btn-type {
  display: block;
}

.poke-button:link,
.poke-button:visited,
.nav-title:link,
.nav-title:visited {
  transition: all .2s;
  position: relative;
}

.poke-button:hover,
.nav-title:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.poke-button:active,
.nav-title:active {
  transform: translate(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}





/* PICKER End */

/* STATS Start */

.pokeContainer{
  display:flex;
  width:100vw;
  /* height:100vh; */
  flex-wrap: wrap;
  gap:10px;
}

.pokeTitle{
  color:rgb(218, 208, 208);
  font-style:bold;
  font-size:20px;
  font-family: 'Coustard', serif;
  /* font-family: 'Swagger', sans-serif;
  font-size: 30px;; */
  text-shadow: 1px 1px rgb(148, 58, 58) ;
  width: 220px;
}

.pokeText{
  margin-right:30px;
  padding:0px 15px;
  border-radius: 5%;
  font-family: 'Swagger', sans-serif;
  /* font-family: 'Coustard', serif; */
}

.pokebox{
  background-color: rgb(50, 47, 72);
  flex-direction: row;
  display:flex;
  width:30vw;
  padding:10px;
  box-shadow:2px 2px #2E3532;
  border-radius:5%;
  height: 190px;
  border: 5px solid grey;
}

.pokeImg{
  background-image: url("https://i.imgur.com/1qC1Bry.png");
  background-size: 100%;
  background-color: #202f28;
  display:flex;
  height:150px;
  width:150px;
  align-self: flex-end;
  text-align: right;
  border-radius:50%;
}

/* STATS End */

/* ABOUT Start */

#about-return {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about-article-containerA {
  display: flex;
  justify-content: center;
}

#about-article-flexbox {
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  border: 5px solid yellow;
  background-image: url("https://i.imgur.com/xZnBqaC.png");
  background-repeat: no-repeat;
  border-radius: 3%;
  height: 725px;
  width: 600px;
}

#about-article-flexbox article {
  width: 500px;
  margin-top: 45px;
  font-size: 25px;
  /* border: 5px solid white; */
}

/* ABOUT End */